#deploy-progress p, #tag-spinner > p {
  text-align: center;
}

pre {
  white-space: pre-wrap;
}

#deploy-progress, #finish-installation, #deploy-button-gutter, #errors, #finish-installation-post, #errors .error-detail, #deploy-progress pre {
  display: none;
}

#deploy-progress pre {
  max-height: 200px;
  padding: 10px;
  background: black;
  color: white;
}

label:after {
  transition-property: all !important;
  font-size: 0.8rem;
  transform: none;
}

label:not(.active):after {
  transform: translateY(-140%);
}

#facebook-oauth-redirect {
  border-radius: 2px;
  background: #DFDFDF;
  padding: 15px;
}

#latest-release-notes {
  margin-left: 15px;
  color: #b7b7b7;
}

.container {
  margin-bottom: 50px;
}

.coral-orange {
  background: #F3725B;
}

p > a, span > a {
  border-bottom: 2px dotted #f67150;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.red p > a {
  border-bottom: 2px dotted #f67150;
  color: white;
}

.input-field > p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
